<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/fragrance.css" type="text/css" />
    <title>여향 | 배스 앤 바디</title>
    <script>
        window.onload = function () {
            document.getElementById("loading").style.display = "none";
        }
    </script>
</head>

<body>
    <div id="loading"><img id="loading-image" src="/img/loading.gif" alt="Loading..." /></div>
    <header>
        <a href="/"><img class="logo" src="/img/logo.svg" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li>
                    <a href="/recommend">추천</a>
                </li>
                <li>
                    <a href="/category/fragrance?q=&page=1&sorter=latest-asc">프레그런스</a>
                </li>
                <li>
                    <a href="/category/bath-and-body?q=&page=1&sorter=latest-asc">배스 앤 바디</a>
                </li>
                <li>
                    <a href="/category/home-fragrance?q=&page=1&sorter=latest-asc">홈 프레그런스</a>
                </li>
            </ul>
        </nav>
        <ul class="cta_area">
            <li>
                <% if(!user){ %>
                    <a class="cta_mypage" href="/auth/login"><img src="/img/mypage.svg"></a>
                    <% } else { %>
                        <a class="cta_mypage" href="/mypage"><img class="user_picture" src="<%= user.picture %>"></a>
                        <% } %>
            </li>
        </ul>
    </header>
    <section>
        <article class="left_container">
            <form action="/bathandbody/list/search/1" method="get">
                <div class="all_search_area">
                    <h1>통합검색</h1>
                    <div class="search_area">
                        <input type="text" placeholder="키워드를 입력하세요" name="bathandbody">
                        <input type="image" class="search_icon" src="/img/search_small.svg">
                    </div>
                </div>
            </form>
            <div class="dilution_area">
                <h1>부향률</h1>
                <div class="dilution_check_area">
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">퍼퓸(20~30%)</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">오 드 퍼퓸(10~20%)</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">오 드 뚜왈렛(5~10%)</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">오 드 코롱(3~5%)</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">샤워 코롱(1~3%)</label>
                    </div>
                </div>
            </div>
            <div class="brand_area">
                <h1>브랜드</h1>
                <div class="search_area">
                    <input type="text" placeholder="브랜드명 검색">
                    <img class="search_icon" src="/img/search_small.svg">
                </div>
                <div class="scroll_check_area">
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">조말론</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">랑방</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">클린</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">페라리</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">캘빈 클라인</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">베르사체</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">딥디크</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">구찌</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">입생로랑</label>
                    </div>
                </div>
            </div>
            <div class="note_area">
                <h1>노트</h1>
                <div class="search_area">
                    <input type="text" placeholder="노트명 검색">
                    <img class="search_icon" src="/img/search_small.svg">
                </div>
                <div class="scroll_check_area">
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">석류</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">레몬</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">카씨스</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">베르가못</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">카다멈</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">만다린 오렌지</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">블루벨</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">머르</label>
                    </div>
                    <div class="check_area">
                        <input type="checkbox"><label class="check_text">파출리</label>
                    </div>
                </div>
            </div>
        </article>
        <article class="right_container">
            <div class="right_nav_container">
                <div class="category_text">배스 앤 바디 ></div>
                <div class="align_menu">
                    <div class="align_btn"><a href="/category/bath-and-body?q=&page=1&sorter=latest-asc">최신순</a></div>
                    <div class="align_btn"><a href="/category/bath-and-body?q=&page=1&sorter=price-asc">낮은가격순</a></div>
                    <div class="align_btn"><a href="/category/bath-and-body?q=&page=1&sorter=price-desc">높은가격순</a></div>
                </div>
            </div>
            <div class="right_content_container">
                <div class="list_content_container">
                    <div class="list_container">
                        <% for(var i=(page * page_num) - page_num; i<(page * page_num); i++){ if(i> length){
                            i++;
                            }else{
                            var oneItem = rows[i];
                            %>
                            <a href="/products/<%=oneItem.p_id%>" class="product_container">
                                <img class="product_img" src="/product/<%=oneItem.p_img%>">
                                <div class="product_info">
                                    <div class="brand">
                                        <%=oneItem.p_brand%>
                                    </div>
                                    <div class="name">
                                        <%=oneItem.p_name%>
                                    </div>
                                    <div class="price_container">
                                        <div class="price">
                                            <%=oneItem.p_price%>
                                        </div>
                                        <h3>원</h3>
                                    </div>
                                </div>
                            </a>
                            <% } } %>
                    </div>
                    <div class="pagenum_container">
                        <% for(var j=0; j < rows.length / page_num; j++){ %>
                            <a href="/category/bath-and-body?q=<%= q %>&page=<%= j + 1 %>&sorter=<%= sorter %>">
                                <div class="pagenum_selected">
                                    <%= j + 1 %>
                                </div>
                            </a>
                            <% } %>
                    </div>
                </div>
                <div class="rv_container">
                    <h2>최근 본 상품</h2>
                    <a href="/products/163">
                        <div class="rv_product"><img class="rv_image" src="/product/163.png"></div>
                    </a>
                    <a href="/products/164">
                        <div class="rv_product"><img class="rv_image" src="/product/164.png"></div>
                    </a>
                    <div class="rv_product"></div>
                    <div class="rv_product"></div>
                </div>
            </div>
        </article>
    </section>
</body>

</html>